@charset "utf-8";
table {
    border: 1px solid black;
    margin: auto;
    width: 60%;
}
tr {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%
}
th {
    width: 33.33%; /*older browsers fallback */
    width: calc(100% / 3);
    border: 1px solid black;
    border-collapse: collapse;
    vertical-align: middle;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.6em
}
td {
    width: 33.33%; /*older browsers fallback */
    width: calc(100% / 3);
    border: 1px solid black;
    border-collapse: collapse;
    vertical-align: middle;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
}
img {
    width: 150px;
}
button {
    width: 3%;
    height: 24px;
    position: relative;
    left: 1221px;
    bottom: 198px;
    font-size: 1em;
}
.plus {
    width: 5%;
    height: 30px;
    position: fixed;
    bottom: 30px;
    left: 1400px;
    font-size: 1.3em;
}
div {
    border: 1px solid black;
    background-color: white;
    position: fixed;
    height: 500px;
    width: 1000px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    display: none;
}
.generator {
    font-size: 1.8em;
}
.heading {
    width: 1000px;
    border: white;
}
.inputTitle {
    width: 500px;
    height: 30px;
    font-size: 1.5em;
}
.inputDesc {
    width: 500px;
    height: 150px;
    font-size: 1.5em;
}
.inputImg {
    width: 70px;
}
input[type="file"] {
    display: none;
}
.submit {
    width: 7%;
    height: 30px;
    position: relative;
    left: 670px;
    bottom: 2px;
    font-size: 0.7em;
}