@charset "utf-8";
table {
    border: 1px solid black;
    margin: auto;
    width: 60%;
}
tr {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%
}
th {
    width: 33.33%; /*older browsers fallback */
    width: calc(100% / 3);
    border: 1px solid black;
    border-collapse: collapse;
    vertical-align: middle;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.6em
}
td {
    width: 33.33%; /*older browsers fallback */
    width: calc(100% / 3);
    border: 1px solid black;
    border-collapse: collapse;
    vertical-align: middle;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
}
img {
    width: 150px;
}
button {
    width: 5%;
    height: 24px;
    position: relative;
    left: 415px;
    bottom: 32px;
    font-size: 1em;
}
.plus {
    width: 5%;
    height: 30px;
    position: fixed;
    bottom: 30px;
    left: 1400px;
    font-size: 1.3em;
}